@use 'normalize.scss';
@use 'base.scss';
@use 'module.scss';
@use 'theme.scss';
@use 'utilities.scss';

@media (min-width: 1000px) {
    .container {
        margin: 0 auto;
        max-width: 1000px;
    }

    .tasks-container {
        width: 100%;
    }
}