@use 'variables.scss' as *;

.container {
    margin: 0 $space-1;
}

.theme-selector {
    border-radius: 50%;
    height: 36px;
    width: 36px;

    background-color: #ffffff;
}

.button {
    border: 2px solid #000000;
    border-bottom-width: 8px;
    border-radius: 24px;
    min-width: 120px;
    padding: 10px;
}

.checkbox {
    border: 3px solid #000000;
    display: inline-block;
    height: 20px;
    width: 20px;
}

input:checked + label .checkbox {
    background-color: $pink;
}

body.modal-is-open {
    overflow: hidden;
}

.tasks-container {
    width: 90%;
}

.task {
    border: 2px solid #000000;
    border-bottom-width: 8px;

    background-color: #ffffff;
}

.streak {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 300px;
}

.streak-square {
    border: 1px solid #333333;
    min-height: 40px;
    width: 40px;
    margin-right: $space-1;
    margin-bottom: $space-1;
    padding-left: 2px;

    font-size: 13px;
}

.streak-square-active {
    background-color: $pink;
    color: #ffffff;
}

.streak-circle {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-right: 2px;
    margin-bottom: 2px;

    background-color: #ffffff;
}

.task-list-header {
    padding: 0 8px;
    position: absolute;
    top: -10px;

    background-color: #ffffff;
    transition: background-color 0.5s ease;
}
