@use 'variables.scss' as *;

.container {
    margin: 0 $space-1;
}

.theme-selector {
    border-radius: 50%;
    height: 36px;
    width: 36px;

    background-color: #ffffff;
}

.all-tasks-textarea {
    border: 3px solid #000000;
    height: 300px;
    width: 100%;
    padding: $space-1;
}