@use 'variables.scss' as *;

body.dark,
.dark .task-list-header {
    background-color: $dark-mode-background-color;
    color: #ffffff;
}

.dark .checkbox,
.dark .task,
.dark .streak-circle {
    border-color: #ffffff;
}

.dark .streak-circle-active {
    background-color: #ffffff;
}

.dark .color-dark-blue {
    color: $dark-mode-dark-blue;
}

.dark .icon {
    fill: #ffffff;
}

.dark input[type='text'] {
    background-color: $dark-mode-background-color;
    border-color: #ffffff;
    color: #ffffff;
}

.dark textarea {
    background-color: $dark-mode-background-color;
    border-color: #ffffff;
    color: #ffffff;
}

.dark .color-dark-red {
    color: $red;
}

.dark .task {
    background-color: $dark-mode-background-color;
}
