@use 'variables.scss' as *;

body.dark {
    background-color: $dark-mode-background-color;
    color: #ffffff;
}

.dark .checkbox,
.dark .task,
.dark .streak-square,
.dark .previous-task {
    border-color: #ffffff;
}

.dark h2 {
    color: $yellow-2;
}

.dark .icon {
    fill: #ffffff;
}

.dark input[type='text'] {
    background-color: $dark-mode-background-color;
    border-color: #ffffff;
    color: #ffffff;
}

.dark textarea {
    background-color: $dark-mode-background-color;
    border-color: #ffffff;
    color: #ffffff;
}

.dark .color-blue {
    color: $light-blue;
}

.dark .color-dark-red {
    color: $red;
}

.dark .fill-blue {
    fill: $light-blue;
}

.dark .task {
    background-color: $dark-mode-background-color;
}
