@use 'variables.scss' as *;

body.dark {
    background-color: $dark-mode-background-color;
    color: #ffffff;
}

.dark .checkbox,
.dark .border-3 {
    border-color: #ffffff;
}

.dark .color-dark-blue {
    color: $dark-mode-dark-blue;
}

.dark .icon {
    fill: #ffffff;
}
